<div class="landing-page">
    <div class="wrapper">
        <div class="d-flex flex-column justify-content-center align-content-center text-center h-100">
            <h5 class="display-4">
                <i class="fa fa-shopping-cart"></i>Big Basket
            </h5>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque iusto iste accusamus molestias aperiam
                molestiae veniam, temporibus dignissimos, natus distinctio doloribus. Debitis aperiam sed nemo quos
                consequatur fuga obcaecati quibusdam?</p>
        </div>
    </div>
</div>